
default: &default
  adapter: postgresql
  encoding: unicode

  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: ker_development

test:
  <<: *default
  database: ker_test

production:
  <<: *default
  database: ker_production
  username: ker
  password: <%= ENV['KER_DATABASE_PASSWORD'] %>
